In [1]:
## Note: please make sure navitron-crons is already installed in venv
## https://www.alfredo.motta.name/create-isolated-jupyter-ipython-kernels-with-pyenv-and-virtualenv/
from datetime import datetime, timedelta
from IPython.display import display, Markdown
import pandas as pd
import numpy as np
import plotnine

import navitron_crons.connections as connections
import navitron_crons.cli_core as cli_core

CONN = connections.MongoConnection(cli_core.CONFIG)
%matplotlib inline

/Users/jpurcell/source/NavitronEve/jvenv_navitron_mac/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [14]:
## Fetch map stats ##
with CONN as db_conn:
    raw_system_data = list(db_conn['navitron_system_stats'].find(
        {}, projection={'_id': False, 'metadata': False, 'write_recipt': False}))
    
system_jumps_df = pd.DataFrame(raw_system_data)
display(system_jumps_df.head(5))

,cron_datetime,npc_kills,pod_kills,ship_jumps,ship_kills,system_id
0,2017-10-21T00:06:16.264999,3,0,1,0,30003298
1,2017-10-21T00:06:16.264999,33,0,47,0,30002911
2,2017-10-21T00:06:16.264999,65,0,108,2,30002811
3,2017-10-21T00:06:16.264999,64,0,23,0,30000086
4,2017-10-21T00:06:16.264999,17,0,1,0,30003097

In [3]:
## Fetch server stats ##
with CONN as db_conn:
    raw_server_data = list(db_conn['navitron_server_status'].find(
        {}, projection={'_id': False, 'write_recipt': False}))
    
server_status_df = pd.DataFrame(raw_server_data)
display(server_status_df.head(5))

                cron_datetime  players server_version            start_time
0  2017-10-23T19:08:27.555384    32108        1201367  2017-10-23T11:03:29Z
1  2017-10-23T20:08:41.266289    30403        1201367  2017-10-23T11:03:28Z
2  2017-10-23T21:08:24.454950    27227        1201367  2017-10-23T11:03:29Z
3  2017-10-23T22:08:22.193869    23802        1201367  2017-10-23T11:03:28Z
4  2017-10-23T23:08:25.111968    21580        1201367  2017-10-23T11:03:29Z

In [5]:
## Fetch map SDE ##
with CONN as db_conn:
    raw_map_sde = list(db_conn['navitron_sde_universe'].find(
        {}, projection={'_id': False, 'write_recipt': False, 'stargates': False, 'cron_datetime': False}))
    
map_sde_df = pd.DataFrame(raw_map_sde)
display(map_sde_df.head(5))

,constellation_id,constellation_name,region_id,region_name,security_class,security_status,solarsystem_name,star_id,system_id,x,y,z
0,20000256,Subhatoub,10000020,Tash-Murkon,B1,0.729366,Sinid,40110164,30001729,-2.101676e+17,5.862811e+16,-1.162771e+17
1,20000058,RO-AZT,10000004,UUA-F4,NaN,-0.000053,2E0P-2,40025036,30000403,1.043354e+17,9.060678e+16,3.121048e+17
2,20000374,Akimamur,10000030,Heimatar,E,0.404436,Wiskeber,40162485,30002554,-5.569225e+16,1.140439e+16,2.518558e+16
3,20000394,Stion,10000032,Sinq Laison,D1,0.453173,Stegette,40171501,30002696,-1.615165e+17,3.190137e+16,5.077709e+15
4,20000115,0YMH-Q,10000009,Insmother,F4,-0.576692,I-1QKL,40049757,30000788,1.182402e+17,3.912867e+16,-1.102126e+17

In [18]:
## Join all the things ##
system_jumps_df['hour'] = pd.to_datetime(system_jumps_df['cron_datetime']).dt.hour
system_jumps_df['date'] = pd.to_datetime(system_jumps_df['cron_datetime']).dt.date

server_status_df['hour'] = pd.to_datetime(server_status_df['cron_datetime']).dt.hour
server_status_df['date'] = pd.to_datetime(server_status_df['cron_datetime']).dt.date

## Join system_jumps vs server_status ##
full_df = pd.merge(
    system_jumps_df, server_status_df,
    on=['hour', 'date'],
    how='left'
)
full_df = full_df.drop(
    ['cron_datetime_y', 'start_time'],
    axis=1
)
full_df = full_df.dropna(axis=0, how='any')  # drop blank

## Join map_sde with all data
full_df = full_df.merge(
    map_sde_df,
    on='system_id',
    how='left'
)
full_df = full_df.drop(
    ['x', 'y', 'z', 'star_id', 'region_name', 'constellation_name'],
    axis=1
)

display(full_df)

,cron_datetime_x,npc_kills,pod_kills,ship_jumps,ship_kills,system_id,hour,date,players,server_version,constellation_id,region_id,security_class,security_status,solarsystem_name
0,2017-10-23T19:05:42.707410,18,0,13,0,30002997,19,2017-10-23,32108.0,1201367,20000439,10000036,B1,0.567127,Ehnoum
1,2017-10-23T19:05:42.707410,4,0,45,0,30002980,19,2017-10-23,32108.0,1201367,20000436,10000036,B2,0.335651,Sosan
2,2017-10-23T19:05:42.707410,2,0,14,0,30003847,19,2017-10-23,32108.0,1201367,20000562,10000048,D2,0.280538,Amoen
3,2017-10-23T19:05:42.707410,117,0,29,0,30004016,19,2017-10-23,32108.0,1201367,20000586,10000050,G,-0.152749,DG-L7S
4,2017-10-23T19:05:42.707410,162,0,84,0,30001426,19,2017-10-23,32108.0,1201367,20000209,10000016,C,0.725113,Isinokka
5,2017-10-23T19:05:42.707410,59,0,7,0,30000103,19,2017-10-23,32108.0,1201367,20000014,10000001,B1,0.525836,Serad
6,2017-10-23T19:05:42.707410,178,0,4,0,30004451,19,2017-10-23,32108.0,1201367,20000650,10000056,F4,-0.554116,E-PR0S
7,2017-10-23T19:05:42.707410,12,0,15,0,30000086,19,2017-10-23,32108.0,1201367,20000012,10000001,B1,0.658265,Sucha
8,2017-10-23T19:05:42.707410,4,0,13,0,30005084,19,2017-10-23,32108.0,1201367,20000744,10000065,B2,0.415573,Miroona
9,2017-10-23T19:05:42.707410,537,0,4,0,30004033,19,2017-10-23,32108.0,1201367,20000589,10000050,G6,-0.778777,ES-Q0W
10,2017-10-23T19:05:42.707410,1287,0,262,4,30005001,19,2017-10-23,32108.0,1201367,20000732,10000064,D1,0.593093,Arnon
11,2017-10-23T19:05:42.707410,494,0,5,0,30002462,19,2017-10-23,32108.0,1201367,20000361,10000029,H2,-0.416563,LU-HQS
12,2017-10-23T19:05:42.707410,89,0,1,0,30001944,19,2017-10-23,32108.0,1201367,20000286,10000022,G,-0.015421,B-2UL0
13,2017-10-23T19:05:42.707410,25,0,12,2,30005233,19,2017-10-23,32108.0,1201367,20000765,10000067,B2,0.419951,Leran
14,2017-10-23T19:05:42.707410,236,0,71,0,30001675,19,2017-10-23,32108.0,1201367,20000248,10000020,B1,0.562881,Sacalan
15,2017-10-23T19:05:42.707410,158,0,11,0,30002694,19,2017-10-23,32108.0,1201367,20000394,10000032,D1,0.483016,Odette
16,2017-10-23T19:05:42.707410,64,0,3,0,30001343,19,2017-10-23,32108.0,1201367,20000195,10000015,H,-0.066827,H-S5BM
17,2017-10-23T19:05:42.707410,28,1,82,2,30002362,19,2017-10-23,32108.0,1201367,20000346,10000027,K2,-0.027507,CL-IRS
18,2017-10-23T19:05:42.707410,6,0,181,0,30000186,19,2017-10-23,32108.0,1201367,20000026,10000002,C1,0.351969,Oijanen
19,2017-10-23T19:05:42.707410,241,0,6,0,30005170,19,2017-10-23,32108.0,1201367,20000756,10000066,K4,-0.416742,NGM-OK
20,2017-10-23T19:05:42.707410,5,0,5,0,30004234,19,2017-10-23,32108.0,1201367,20000619,10000054,B2,0.324065,Maalna
21,2017-10-23T19:05:42.707410,47,0,7,0,30004265,19,2017-10-23,32108.0,1201367,20000623,10000054,B3,0.044434,Yekh
22,2017-10-23T19:05:42.707410,69,0,25,0,30003312,19,2017-10-23,32108.0,1201367,20000483,10000041,J,-0.246905,35-RK9
23,2017-10-23T19:05:42.707410,128,0,115,0,30002794,19,2017-10-23,32108.0,1201367,20000410,10000033,C,0.501220,Yria
24,2017-10-23T19:05:42.707410,177,0,235,0,30003830,19,2017-10-23,32108.0,1201367,20000560,10000048,D1,0.746238,Orvolle
25,2017-10-23T19:05:42.707410,110,0,4,0,30002379,19,2017-10-23,32108.0,1201367,20000349,10000027,K4,-0.153504,V-OL61
26,2017-10-23T19:05:42.707410,420,0,5,0,30005184,19,2017-10-23,32108.0,1201367,20000758,10000066,K5,-0.479261,F-A3TR
27,2017-10-23T19:05:42.707410,21,0,9,0,30003930,19,2017-10-23,32108.0,1201367,20000574,10000049,B3,0.145549,Goudiyah
28,2017-10-23T19:05:42.707410,656,0,23,0,30000321,19,2017-10-23,32108.0,1201367,20000046,10000003,H4,-0.575365,MGAM-4
29,2017-10-23T19:05:42.707410,86,0,45,0,30004351,19,2017-10-23,32108.0,1201367,20000636,10000055,H4,-0.613557,8-4GQM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516271,2017-10-30T18:05:45.356070,218,0,21,0,30042547,18,2017-10-30,32209.0,1204624,20000377,10000030,A,0.957331,Loguttur
516272,2017-10-30T18:05:45.356070,1,0,10,0,30004505,18,2017-10-30,32209.0,1204624,20000657,10000057,J,-0.001395,LGUZ-1
516273,2017-10-30T18:05:45.356070,1113,0,718,0,30001408,18,2017-10-30,32209.0,1204624,20000206,10000016,B,0.780765,Ruvas
516274,2017-10-30T18:05:45.356070,74,0,24,0,30005195,18,2017-10-30,32209.0,1204624,20000760,10000067,B2,0.444391,Vecamia
516275,2017-10-30T18:05:45.356070,406,1,4,0,30002490,18,2017-10-30,32209.0,1204624,20000364,10000029,H,-0.244046,PYY3-5
516276,2017-10-30T18:05:45.356070,56,0,2,0,30004654,18,2017-10-30,32209.0,1204624,20000679,10000058,J3,-0.537606,ATQ-QS
516277,2017-10-30T18:05:45.356070,83,0,15,0,30005132,18,2017-10-30,32209.0,1204624,20000751,10000066,K5,-0.504997,Z-ENUD
516278,2017-10-30T18:05:45.356070,94,0,3,0,30004634,18,2017-10-30,32209.0,1204624,20000676,10000058,J3,-0.469001,TU-Y2A
516279,2017-10-30T18:05:45.356070,6,0,7,0,30000306,18,2017-10-30,32209.0,1204624,20000043,10000003,H7,-0.900438,Y-ZXIO
516280,2017-10-30T18:05:45.356070,28,0,12,0,30002321,18,2017-10-30,32209.0,1204624,20000340,10000027,K5,-0.388877,FB-MPY
516281,2017-10-30T18:05:45.356070,415,0,47,0,30002819,18,2017-10-30,32209.0,1204624,20000413,10000033,B,0.872794,Motsu
516282,2017-10-30T18:05:45.356070,99,0,95,0,30005026,18,2017-10-30,32209.0,1204624,20000735,10000064,D1,0.677354,Cat
516283,2017-10-30T18:05:45.356070,325,0,26,1,30015305,18,2017-10-30,32209.0,1204624,20000776,10000068,A,0.885123,Adallier
516284,2017-10-30T18:05:45.356070,274,0,10,0,30002925,18,2017-10-30,32209.0,1204624,20000429,10000035,H6,-0.752522,YZ-UKA
516285,2017-10-30T18:05:45.356070,337,0,23,0,30003011,18,2017-10-30,32209.0,1204624,20000441,10000037,D1,0.718040,Mormoen
516286,2017-10-30T18:05:45.356070,17,0,2,0,30001929,18,2017-10-30,32209.0,1204624,20000284,10000022,G,-0.132023,Z-XMUC
516287,2017-10-30T18:05:45.356070,104,0,53,0,30002533,18,2017-10-30,32209.0,1204624,20000371,10000030,D,0.822566,Gerbold
516288,2017-10-30T18:05:45.356070,52,0,12,0,30005238,18,2017-10-30,32209.0,1204624,20000766,10000067,B2,0.341403,Menai
516289,2017-10-30T18:05:45.356070,715,0,46,0,30002384,18,2017-10-30,32209.0,1204624,20000350,10000028,D1,0.497860,Gulfonodi
516290,2017-10-30T18:05:45.356070,98,0,51,0,30000220,18,2017-10-30,32209.0,1204624,20000031,10000003,H2,-0.439537,Y0-BVN
516291,2017-10-30T18:05:45.356070,9,0,4,0,30001886,18,2017-10-30,32209.0,1204624,20000278,10000022,G,-0.006046,9O-ZTS
516292,2017-10-30T18:05:45.356070,63,0,29,0,30000114,18,2017-10-30,32209.0,1204624,20000016,10000001,B2,0.336073,Ubtes
516293,2017-10-30T18:05:45.356070,82,0,17,0,30001737,18,2017-10-30,32209.0,1204624,20000257,10000020,B,0.796701,Hath
516294,2017-10-30T18:05:45.356070,119,0,17,0,30002278,18,2017-10-30,32209.0,1204624,20000334,10000043,B,0.752386,Artoun
516295,2017-10-30T18:05:45.356070,13,0,5,0,30003901,18,2017-10-30,32209.0,1204624,20000569,10000049,B3,0.146071,Upt
516296,2017-10-30T18:05:45.356070,14,0,8,0,30003509,18,2017-10-30,32209.0,1204624,20000512,10000043,B1,0.739668,Gosalav
516297,2017-10-30T18:05:45.356070,82,0,44,0,30004740,18,2017-10-30,32209.0,1204624,20000693,10000060,G,-0.105882,6Q-R50
516298,2017-10-30T18:05:45.356070,25,0,29,1,30045315,18,2017-10-30,32209.0,1204624,20000783,10000069,NaN,0.379800,Raihbaka
516299,2017-10-30T18:05:45.356070,43,0,3,0,30004199,18,2017-10-30,32209.0,1204624,20000614,10000053,K,-0.168933,O-F4SN
516300,2017-10-30T18:05:45.356070,142,0,3,0,30003117,18,2017-10-30,32209.0,1204624,20000455,10000039,G3,-0.477510,NH-R5B