In [1]:
## Note: please make sure navitron-crons is already installed in venv
## https://www.alfredo.motta.name/create-isolated-jupyter-ipython-kernels-with-pyenv-and-virtualenv/
from datetime import datetime, timedelta
from IPython.display import display, Markdown
import pandas as pd
import numpy as np
import plotnine

import navitron_crons.connections as connections
import navitron_crons.cli_core as cli_core

CONN = connections.MongoConnection(cli_core.CONFIG)
%matplotlib inline

/Users/jpurcell/source/NavitronEve/jvenv_navitron_mac/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [4]:
with CONN as db_conn:
    raw_system_data = list(db_conn['navitron_system_stats'].find(
        {}, projection={'_id': False, 'metadata': False, 'write_recipt': False}))
    
system_jumps_df = pd.DataFrame(raw_system_data)
display(system_jumps_df.head(5))

,cron_datetime,npc_kills,pod_kills,ship_jumps,ship_kills,system_id
0,2017-10-20T23:10:57.947188,48,0,17,0,30034971
1,2017-10-20T23:10:57.947188,289,0,1,0,30003644
2,2017-10-20T23:10:57.947188,85,0,1165,0,30002765
3,2017-10-20T23:10:57.947188,630,0,58,0,30003026
4,2017-10-20T23:10:57.947188,73,0,24,0,30002247